<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mooserage Portfolio | Homepage</title>

    <!--
    - favicon
  -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/logo.ico') }}"
      type="image/x-icon"
    />

    <!--
    - custom css link
  -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <!--
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div id="flash-messages">
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    <script>
      setTimeout(function () {
        var flash = document.getElementById("flash-messages");
        if (flash) {
          flash.style.display = "none";
        }
      }, 5000);
    </script>
    {% endif %} {% endwith %}

    <!--
    - #MAIN
  -->

    <main>
      <!--
      - #SIDEBAR
    -->

      <aside class="sidebar" data-sidebar>
        <div class="sidebar-info">
          <figure class="avatar-box">
            <img
              src="{{ url_for('static', filename='images/jade_hero_img.png') }}"
              alt="Richard hanrick"
              width="80"
            />
          </figure>

          <div class="info-content">
            <h1 class="name">Jade Atyla Madigal</h1>

            <p class="title">Aspiring Full Stack Developer</p>
          </div>

          <button class="info_more-btn" data-sidebar-btn>
            <span>Show Contacts</span>

            <ion-icon name="chevron-down"></ion-icon>
          </button>
        </div>

        <div class="sidebar-info_more">
          <div class="separator"></div>

          <ul class="contacts-list">
            <li class="contact-item">
              <div class="icon-box">
                <ion-icon name="mail-outline"></ion-icon>
              </div>

              <div class="contact-info">
                <p class="contact-title">Email</p>

                <a href="mailto:jamadigal@gmail.com" class="contact-link"
                  >jamadigal@gmail.com</a
                >
              </div>
            </li>

            <li class="contact-item">
              <div class="icon-box">
                <ion-icon name="phone-portrait-outline"></ion-icon>
              </div>

              <div class="contact-info">
                <p class="contact-title">Phone</p>

                <a href="tel:+639513192584" class="contact-link"
                  >(+63) 951 319 2584</a
                >
              </div>
            </li>

            <li class="contact-item">
              <div class="icon-box">
                <ion-icon name="calendar-outline"></ion-icon>
              </div>

              <div class="contact-info">
                <p class="contact-title">Birthday</p>

                <time datetime="1982-06-23">April 7, 2004</time>
              </div>
            </li>

            <li class="contact-item">
              <div class="icon-box">
                <ion-icon name="location-outline"></ion-icon>
              </div>

              <div class="contact-info">
                <p class="contact-title">Location</p>

                <address>Bacoor, Cavite, Philippines</address>
              </div>
            </li>
          </ul>

          <div class="separator"></div>

          <ul class="social-list">
            <li class="social-item">
              <a
                href="https://www.facebook.com/jadeatylam"
                class="social-link"
                target="_blank"
              >
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li class="social-item">
              <a
                href="https://www.linkedin.com/in/madigal-jade-atyla-l-14803835a/"
                class="social-link"
                target="_blank"
              >
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li class="social-item">
              <a
                href="https://github.com/JadeAtyla"
                class="social-link"
                target="_blank"
              >
                <ion-icon name="logo-github"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
      </aside>
      <!--
      - #main-content
    -->

      <div class="main-content">
        <!--
        - #NAVBAR
      -->

        <nav class="navbar">
          <ul class="navbar-list">
            <li class="navbar-item">
              <button class="navbar-link active" data-nav-link>About</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Skills</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Projects</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Challenges</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Plans</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Resume</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Contact</button>
            </li>
          </ul>
        </nav>

        <button class="icon-box burger-menu-btn" data-burger-menu-btn>
          <ion-icon name="menu-outline"></ion-icon>
        </button>

        <!--
        - #ABOUT
      -->

        <article class="about active" data-page="about">
          <header>
            <h2 class="h2 article-title">About me</h2>
          </header>

          <section class="about-text">
            <p class="indent">
              Hi! I’m a 3rd-year BS Computer Science student who is passionate
              about learning through practical experience. I believe that
              building projects is the best way to gain real-world skills and
              deepen my understanding of programming concepts.
            </p>
            <p class="indent">
              I have experience coding in Java, JavaScript, HTML, CSS, PHP, and
              Python, and I enjoy working with frameworks and libraries like
              Django, Flask, React.js, and Node.js. I’m also familiar with
              managing databases such as SQLite3, MySQL, MongoDB, and MariaDB.
            </p>

            <p class="indent">
              Aside from coding, I’m interested in exploring different
              technologies and improving my problem-solving abilities. I’m
              always eager to take on new challenges and collaborate on projects
              that push me to grow as a developer. My goal is to continuously
              expand my knowledge and apply what I learn to create meaningful
              and efficient software solutions.
            </p>
          </section>
          <div class="separator"></div>
          <h3 class="h3 personal-info-title">My Information</h3>
          <ul class="contacts-list">
            {% for me in personal %}
            <li class="contact-item">
              <div class="icon-box">
                <ion-icon name="{{ me.icon }}"></ion-icon>
              </div>

              <div class="contact-info">
                <p class="contact-title">{{ me.category }}</p>

                <p class="contact-link">{{ me.data }}</p>
              </div>
            </li>
            {% endfor %}
          </ul>
          <div class="separator"></div>

          <!--
          - service
        -->

          <section class="service">
            <h3 class="h3 service-title">What i'm doing</h3>

            <ul class="service-list">
              <!-- Hobbies List Data -->
              {% for hobby in hobbies %}
              <li class="service-item">
                <div class="service-icon-box">
                  <img
                    src="{{ hobby.icon }}"
                    alt="{{ hobby.title }} Icon"
                    width="40"
                  />
                </div>

                <div class="service-content-box">
                  <h4 class="h4 service-item-title">{{ hobby.title }}</h4>

                  <p class="service-item-text">{{ hobby.text }}</p>
                </div>
              </li>
              {% endfor %}
            </ul>
          </section>
          <div class="separator"></div>
          <!--
          - testimonials
        -->

          <section class="testimonials">
            <h3 class="h3 testimonials-title">Family Background</h3>

            <ul class="testimonials-list has-scrollbar">
              <!-- Family Background Data List -->
              {% for family in families %}
              <li class="testimonials-item">
                <div class="content-card" data-testimonials-item>
                  <figure class="testimonials-avatar-box">
                    <img
                      src="{{ family.avatar }}"
                      alt="{{ family.name }}"
                      width="60"
                      data-testimonials-avatar
                    />
                  </figure>
                  <h4
                    class="h4 testimonials-item-title"
                    data-testimonials-title
                  >
                    {{ family.name }}
                  </h4>
                  <p data-testimonials-relationship hidden>
                    {{ family.relationship }}
                  </p>
                  <div class="testimonials-text" data-testimonials-text>
                    <p>{{ family.text }}</p>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </section>

          <!--
          - testimonials modal
        -->

          <div class="modal-container" data-modal-container>
            <div class="overlay" data-overlay></div>

            <section class="testimonials-modal">
              <button class="modal-close-btn" data-modal-close-btn>
                <ion-icon name="close-outline"></ion-icon>
              </button>

              <div class="modal-img-wrapper">
                <figure class="modal-avatar-box">
                  <img
                    src="{{ url_for('static', filename='images/avatar-1.png') }}"
                    alt="Daniel lewis"
                    width="80"
                    data-modal-img
                  />
                </figure>

                <img
                  src="{{ url_for('static', filename='images/icon-quote.svg') }}"
                  alt="quote icon"
                />
              </div>

              <div class="modal-content">
                <h4 class="h3 modal-title" data-modal-title>Daniel lewis</h4>

                <time class="modal-date"><!--  --></time>
                <div class="info-content">
                  <p class="enclosed" data-modal-relationship>
                    <!-- relationship -->
                  </p>
                </div>

                <div data-modal-text>
                  <p>
                    <!-- text information -->
                  </p>
                </div>
              </div>
            </section>
          </div>
        </article>
        <!--
        - #SKILLS
      -->

        <article class="skills" data-page="skills">
          <header>
            <h2 class="h2 article-title">Skills</h2>
          </header>
          {% for skill in skills %}
          <section class="timeline">
            <div class="title-wrapper">
              <div class="icon-box">
                <ion-icon name="{{ skill.icon }}"></ion-icon>
              </div>

              <h3 class="h3">{{ skill.title }}</h3>
            </div>

            <ol class="timeline-list">
              {% for s in skill.skills %}
              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">{{ s.data }}</h4>

                <!-- <span>2007 — 2008</span> -->

                <p class="timeline-text">{{ s.desc }}</p>
                {% if s.skillsStack %}
                <div class="contact-social-row">
                  {% for stack in s.skillsStack %}
                  <div class="icon-box">
                    <img
                      src="{{ url_for('static', filename='images/' + stack|lower + '.svg') }}"
                      alt="{{ stack }} Icon"
                      width="30"
                    />
                  </div>
                  {% endfor %}
                </div>
                {% endif %}
              </li>
              {% endfor %}
            </ol>
          </section>
          <div class="separator"></div>
          {% endfor %}
          <div class="seperator"></div>
          <h3 class="h3 skills-title">Certificates</h3>
          <section class="blog-posts">
            <ul class="blog-posts-list">
              {% for cert in certificates %}
              <li class="blog-post-item">
                <a href="#">
                  <figure class="blog-banner-box">
                    <img
                      src="{{ url_for('static', filename='images/' + cert.img ) }}"
                      alt="Design conferences in 2022"
                      loading="lazy"
                    />
                  </figure>

                  <div class="blog-content">
                    <div class="blog-meta">
                      <p class="blog-category">{{cert.issuer}}</p>

                      <span class="dot"></span>

                      <time datetime="2022-02-23">{{cert.date }}</time>
                    </div>

                    <h3 class="h3 blog-item-title">
                      {{cert.title}}
                    </h3>

                    <p class="blog-text">
                      {{cert.description}}
                    </p>
                  </div>
                </a>
              </li>
               {% endfor %}
            </ul>
          </section>
          <div class="separator"></div>
          
        </article>

        <!--
        - #PORTFOLIO
      -->

        <article class="portfolio" data-page="projects">
          <header>
            <h2 class="h2 article-title">Projects</h2>
          </header>

          <section class="projects">
            <ul class="filter-list">
              <li class="filter-item">
                <button class="active" data-filter-btn>All</button>
              </li>

              <li class="filter-item">
                <button data-filter-btn>Websites</button>
              </li>

              <li class="filter-item">
                <button data-filter-btn>Applications</button>
              </li>

              <li class="filter-item">
                <button data-filter-btn>Web Application</button>
              </li>
            </ul>

            <div class="filter-select-box">
              <button class="filter-select" data-select>
                <div class="select-value" data-select-value>
                  Select category
                </div>

                <div class="select-icon">
                  <ion-icon name="chevron-down"></ion-icon>
                </div>
              </button>

              <ul class="select-list">
                <li class="select-item">
                  <button data-select-item>All</button>
                </li>

                <li class="select-item">
                  <button data-select-item>Websites</button>
                </li>

                <li class="select-item">
                  <button data-select-item>Applications</button>
                </li>

                <li class="select-item">
                  <button data-select-item>Web Application</button>
                </li>
              </ul>
            </div>

            <ul class="project-list">
              {% for project in projects %}
              <li
                class="project-item active"
                data-filter-item
                data-category="{{ project.category }}"
              >
                <a href="#">
                  <figure class="project-img">
                    <div class="project-row">
                      <div class="project-item-icon-box">
                        {% if project.liveDemo %}
                        <ion-icon
                          class="link-icon"
                          name="play-circle-outline"
                          onclick="window.open('{{ project.liveDemo }}', '_blank')"
                        ></ion-icon>
                        {% endif %} {% if project.github %}
                        <ion-icon
                          class="link-icon"
                          name="logo-github"
                          onclick="window.open('{{ project.github }}', '_blank')"
                        ></ion-icon>
                        {% endif %}
                      </div>
                    </div>

                    <img
                      src="{{ url_for('static', filename='images/' + project.image) }}"
                      alt="finance"
                      loading="lazy"
                    />
                  </figure>

                  <h3 class="project-title">{{ project.title }}</h3>
                  <p class="project-category">{{ project.category }}</p>
                </a>
              </li>
              {% endfor %}
            </ul>
          </section>
        </article>

        <!--
        - #CHALLENGES
      -->

        <article class="challenges" data-page="challenges">
          <header>
            <h2 class="h2 article-title">Challenges & Learnings</h2>
            <div class="timeline2">
              <div class="body">
                {% for i in range(challenges|length) %}
                <div
                  class="container {% if loop.index0 % 2 == 0 %}left{% else %}right{% endif %}"
                >
                  <div class="date">{{challenges[i].date}}</div>
                  <i class="icon fa fa-home"></i>
                  <div class="content" title="{{ challenges[i].title }}">
                    <h2>Challenges</h2>
                    <p class="indent desc">{{challenges[i].challenges}}</p>
                    <h2>Learnings</h2>
                    <p class="indent desc">{{challenges[i].learnings}}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </header>
        </article>

        <!--
        - #PLANS
      -->

        <article class="plans" data-page="plans">
          <header>
            <h2 class="h2 article-title">Plans</h2>
          </header>

          <section class="blog-posts">
            <ul class="blog-posts-list">
              {% for plan in plans %}
              <li class="blog-post-item">
                <a href="#">
                  <figure class="blog-banner-box">
                    <img
                      src="{{ url_for('static', filename='images/' + plan.image ) }}"
                      alt="Design conferences in 2022"
                      loading="lazy"
                    />
                  </figure>

                  <div class="blog-content">
                    <div class="blog-meta">
                      <p class="blog-category">Goals & Plan</p>

                      <span class="dot"></span>

                      <time datetime="2022-02-23">2022-02-23</time>
                    </div>

                    <h3 class="h3 blog-item-title">{{plan.title}}</h3>

                    <p class="blog-text indent">{{plan.description}}</p>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </section>
        </article>

        <!--
        - #RESUME
      -->

        <article class="resume" data-page="resume">
          <header>
            <h2 class="h2 article-title">Resume</h2>
          </header>

          <section class="timeline">
            <div class="title-wrapper">
              <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
              </div>

              <h3 class="h3">Education</h3>
            </div>

            <ol class="timeline-list">
              {% for school in schools %}
              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">{{ school.name }}</h4>

                <span>{{ school.startYear }} — {{ school.endYear }}</span>

                <p class="timeline-text">
                  <em>{{ school.level }}</em><br />
                  {{ school.specification }}
                </p>
              </li>
              {% endfor %}
            </ol>
          </section>

          <section class="timeline">
            <div class="title-wrapper">
              <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
              </div>

              <h3 class="h3">Experience</h3>
            </div>

            <ol class="timeline-list">
              {% for experience in experiences %}
              <li class="timeline-item">
                <h4 class="h4 timeline-item-title">
                  {{ experience.position }}
                </h4>

                <span
                  >{{ experience.startYear }} — {{ experience.endYear }}</span
                >

                <p class="timeline-text">
                  <em>{{ experience.company }}</em><br />
                  {{ experience.description }}
                </p>
              </li>
              {% endfor %}
            </ol>
          </section>
          <!-- <section class="resume-section"> -->
          <div class="sidebar-info">
          <img
            src="{{url_for('static', filename='images/Jade Atyla Madigal - Resume.png')}}"
            class="resume-img"
          >
          </div>
          <!-- </section> -->

          <section class="skill">
            <button class="form-btn" onclick="downloadResume()">
              <ion-icon name="paper-plane"></ion-icon>
              <span>Download Resume</span>
            </button>

            <!-- <div class="seperator"></div>
            
            <div class="contact-social-row">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>
            <a
              href="{{url_for('static', filename='pdf/Jade Atyla Madigal - Resume.pdf')}}"
              target="_blank"
              >
              <h3 class="h3 skills-title">
                Here's My Resume(Click Me!)
              </h3>
            </a>
            

            </div> -->
          </section>
        </article>

        <!--
        - #CONTACT
      -->

        <article class="contact" data-page="contact">
          <header>
            <h2 class="h2 article-title">Contact</h2>
          </header>
          <!-- <h3 class="h3 form-title">Address</h3> -->
          <section class="mapbox" data-mapbox>
            <figure>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3864.215399563189!2d120.98703885131225!3d14.41474297930368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d1716161c585%3A0x51fd4cce99a5b667!2sGENAI%20ASSOCIATION!5e0!3m2!1sen!2sph!4v1747977053967!5m2!1sen!2sph"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </figure>
          </section>
          <div class="separator"></div>
          <h3 class="h3 form-title">Social Links</h3>
          <div class="contact-social-row">
            <a
              class="icon-box"
              title="Facebook"
              href="https://www.facebook.com/jadeatylam"
              target="_blank"
            >
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a
              class="icon-box"
              title="Telegram"
              href="https://t.me/jamadigal"
              target="_blank"
            >
              <ion-icon name="paper-plane"></ion-icon>
            </a>
            <a
              class="icon-box"
              title="Instagram"
              href="https://www.instagram.com/jeydweirdough/"
              target="_blank"
            >
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a
              class="icon-box"
              title="LinkedIn"
              href="https://www.linkedin.com/in/madigal-jade-atyla-l-14803835a/"
              target="_blank"
            >
              <ion-icon name="logo-linkedIn"></ion-icon>
            </a>
            <a
              class="icon-box"
              title="Github"
              href="https://github.com/JadeAtyla"
              target="_blank"
            >
              <ion-icon name="logo-github"></ion-icon>
            </a>
            <a
              class="icon-box"
              title="Discord"
              href="https://discord.com/users/1118727103228149770"
              target="_blank"
            >
              <ion-icon name="logo-discord"></ion-icon>
            </a>
            <a
              class="icon-box"
              title="Atyla Personal Portfolio"
              href="https://atyla-personal-portfolio.vercel.app/"
              target="_blank"
            >
              <ion-icon name="browsers-outline"></ion-icon>
            </a>
          </div>
          <div class="separator"></div>
          <section class="contact-form">
            <h3 class="h3 form-title">Contact Form</h3>

            <form action="/contact" method="POST" class="form" data-form>
              <div class="input-wrapper">
                <input
                  type="text"
                  name="fullname"
                  class="form-input"
                  placeholder="Full name"
                  required
                  data-form-input
                />

                <input
                  type="email"
                  name="email"
                  class="form-input"
                  placeholder="Email address"
                  required
                  data-form-input
                />
              </div>

              <textarea
                name="message"
                class="form-input"
                placeholder="Your Message"
                required
                data-form-input
              ></textarea>

              <button class="form-btn" type="submit" disabled data-form-btn>
                <ion-icon name="paper-plane"></ion-icon>
                <span>Send Message</span>
              </button>
            </form>
          </section>
        </article>
      </div>
    </main>
    <!-- <script src="{{url_for('static', filename='js/setup.js')}}"></script> -->
    <!--
    - custom js link
  -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!--
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
